.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 4px;
}
.form_auth_block_content{
    padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_block_delete{
    display: block;
    margin: 5px auto;
    width: 80%;
    height: 45px;
    outline: none;
    padding: 5px;
}
.form_auth_block input{
    display: block;
    margin: 5px auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
.form_auth_block select{
    display: block;
    margin: 5px auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
.form_auth_block textarea{
    display: block;
    margin: 5px auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
}
.form_auth_block a{
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: lightblue;
    text-decoration: none;
    color: black;
    padding-top:10px;
}
input:focus {
    color: #000000;
    border-radius: 10px;
    border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}
::-webkit-input-placeholder {color:#3f3f44; padding-left: 10px;}
::-moz-placeholder          {color:#3f3f44; padding-left: 10px;}
:-moz-placeholder           {color:#3f3f44; padding-left: 10px;}
:-ms-input-placeholder      {color:#3f3f44; padding-left: 10px;}


/* Дерево многоуровневое
  -------------------------------- */
ul {
    padding: 5px;
    margin: 0;
    list-style-type: none;
    position: relative;
}
li {
    border-left: 2px solid #000;
    margin-left: 1em;
    padding-left: 1em;
    position: relative;
    font-weight: bold;
}
li a {
    text-decoration: none;
    padding-left:10px;
}
li div {
    font-style:italic;
    font-weight: normal;
}
li li {
    margin-left: 3px;
}
li::before {
    content:'┗';
    color: #000;
    position: absolute;
    top: -5px;
    left: -9px;
}
ul > li:last-child {
    border-left: 2px solid transparent;
}




/* Сторонние стили */
.form_error{
    display: block;
    color:red;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
.form_success{
    display: block;
    color:green;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
.add_title{
    border:1px solid black;
    border-radius: 15px;
    padding: 1px;
    margin-left: 12px;
}
.add_button{
    margin: 20px;
    cursor: pointer;
}
.add_button a{
    height: 35px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: darkgreen;
}
.add_button a:hover{
    background-color: darkslategrey;
}
.admin_line{
    background-color: black;
    height: 50px;
}
.authorize{
    color: white;
    padding:15px;
}
.authorize a{
    color: white;
    text-decoration: underline;
}
.authorize a:hover{
    text-decoration: none;
}

